/******* Default Elements Styling **********/
body{
    font-family:400;
    font-family:'Open Sans',Arial,sans-serif;
}

p{
	font-size:16px;
	line-height: 1.7;
	-webkit-font-smoothing:antialiased;
}

a,a:hover,a:visited,a:link,a:active{
	text-decoration: none;
	color:black;
	border-bottom:1px dashed gainsboro;
}

h2{
	margin-top:10px;
}

img,.container img{
	margin-bottom:10px;
}

figure{
	margin-bottom:30px;
	margin-top:30px;

}

figcaption{
	font-style: italic;
}

/******************************************/


/******* Bootstrap Styling Cascade ************/

.container{
    max-width: 670px;
}

.jumbotron{
	background-color: transparent;
	padding: 5px;
    margin: 5px;
}
.breadcrumb{
	background-color: transparent;
    padding: 0;
    margin-bottom: 10px;
}

@media only screen and (min-width:700px){
	.container img.img-responsive{
		margin-left:-15px;
		max-width:700px;
	}
}

/*********************************************/


/******* Content Styling ************/

.post,.post-thumbnail{
	margin-top:20px;
	margin-bottom:20px;
}


/*********************************************/




