header#logo,footer#siteFooter{
	background-color: #ececec;
}
.post{
	margin-top:20px;
	margin-bottom:20px;
}
.post header h2{
	margin-top:10px;
}
.post header img{
	margin-bottom:10px;
}
.post figure{
	margin-bottom:30px;
	margin-top:30px;
}